examples/Search For User.json
[{"id":"20a52e9a.effdd2","type":"inject","z":"1f44dd44.95c723","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":540,"wires":[["e9e6bf34.b121b"]]},{"id":"360872fa.93b0de","type":"debug","z":"1f44dd44.95c723","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":550,"y":540,"wires":[]},{"id":"e9e6bf34.b121b","type":"ldap-search in","z":"1f44dd44.95c723","name":"","ldap":"","baseDn":"OU=Users,DC=domain,DC=com","searchScope":"sub","filter":"(firstName=te*)","attributes":"givenName,firstName,sn","x":390,"y":540,"wires":[["360872fa.93b0de"]]},{"id":"cce713bb.65c02","type":"comment","z":"1f44dd44.95c723","name":"Search for user where first name starts with \"te\"","info":"","x":320,"y":500,"wires":[]}]
