examples/Update User Attribute.json
[{"id":"493215c4.a19bcc","type":"inject","z":"1f44dd44.95c723","name":"","topic":"","payload":"Jordan Vohwinkel","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":640,"wires":[["e67f79ca.795808"]]},{"id":"da373307.cdefa","type":"debug","z":"1f44dd44.95c723","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":640,"wires":[]},{"id":"e67f79ca.795808","type":"ldap-update in","z":"1f44dd44.95c723","name":"","ldap":"","operation":"replace","dn":"CN=Jordan Vohwinkel,OU=Users,DC=domain,DC=com","attribute":"displayName","value":"","x":430,"y":640,"wires":[["da373307.cdefa"]]},{"id":"9bf93a10.612cd8","type":"comment","z":"1f44dd44.95c723","name":"Update user attribute","info":"","x":240,"y":600,"wires":[]}]
